<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager - Leave History</title>
    <link rel="stylesheet" href="/styles/leaveHistory.css">
</head>
<body>
<div class="container">
    <h2>Manager - Leave History</h2>

    <div class="mb-3">
        <h4>Leave History</h4>

        <div th:if="${#lists.isEmpty(allLeaveRequests)}">
            <p>No leave history available.</p>
        </div>

        <div th:unless="${#lists.isEmpty(allLeaveRequests)}">
            <table>
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Leave Type</th>
                    <th>Duration (Days)</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Manager's Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="leaveRequest : ${allLeaveRequests}">
                    <td th:text="${leaveRequest.username}"></td>
                    <td th:text="${leaveRequest.leaveType}"></td>
                    <td th:text="${leaveRequest.duration}"></td>
                    <td th:text="${leaveRequest.reason}"></td>
                    <td th:text="${leaveRequest.approvalStatus}"
                        th:classappend="'status-' + ${leaveRequest.approvalStatus.toLowerCase()}"></td>
                    <td th:text="${leaveRequest.managerComment}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
